/* content  */
.design-main {
    grid-area: main;
}

.design {
    width: 100%;
}

.design-subheader {
    padding: 1rem 0;
}


/* section: colors */
.design-colors {
    display: flex;
    flex-direction: column;
}

.color-box {
    text-align: center;
}

.color-circle {
    height: 100px;
    border-radius: 50%;
    width: 100px;
    margin: 0 auto;
}

#color-purple{
    background-color: #a0a;
}

#color-blue {
    background-color: #66d7d1;
}

#color-background {
    background-color: #f0f0f0;
}

.color-hex {
    color: grey;
}

#hex-purple:hover {
    background-color: #a0a;
    color: white;
}

#hex-background:hover {
    background-color: #f0f0f0;
    color: #0F0F0F;
}

#hex-blue:hover {
    color: white;
    background-color: #66d7d1;
}

figcaption {
    text-align: center;
}


/* code blocks */
code {
    display: block;
    padding: 1rem;
    background: #f0f0f0;
    margin: 1rem 0;
}

.code-block {
    padding-left: 1.5rem;
}


/* responsive layout  */
@media (min-width: 900px) {
    .design-colors {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .color-box {
        text-align: left;
        max-width: 20%;
    }
}
